body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #696969;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-body .content {
  position: relative !important;
}

.edit-profile-form {
  background: #696969
}

.drawer-header {
  background: #2CA8FF; /* Green background with 30% opacity */
  color: white;
  text-align: center;
  padding: 15px 0px 1px 0px;
}

.flag-img {
  max-height: 250px;
  box-shadow: 10px;
  border-style: outset;
  border-color: white;
}

.drawer-body {
  background: white !important; /* Green background with 30% opacity */
  color: black;
  text-align: center;
  margin: 15px;
}

.establishment-popup-header {
  /* margin: auto; */
  text-align: center;
  color: white;
  background: #2CA8FF;
  /* display: grid; */
  padding: 15px 0px 10px 0px;
  z-index: 1000;
  position: 'absolute';
}

.places-input-container {
  width: 70%;
  margin: 0 auto;
  background: white;
  z-index: 1000;
  position: 'absolute';
}

#places-input {
  color: black;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  z-index: 1000 !important;
  position: 'absolute' !important;
}

.collection-form {
  color: black;
  padding: 15px 5px 5px 5px;
}

#user-comments {
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: black
}

#autocomplete-menu {
  z-index: 1000 !important;
  position: 'absolute';
}